---
import Chargesection from '../components/Chargesection.astro'
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/Landingheader.astro';
import Herosection from '../components/Herosection.astro'
---

<Layout title="T E S L A">
	<LandingHeader/>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<Herosection/>
		</div>
		<div class="snap-center">
			<Chargesection/>
		</div>
		<div class="snap-center">
			<Herosection/>
		</div>
		<div class="snap-center">
			<Chargesection/>
		</div>
	</main>
</Layout>

